
html {
  scroll-behavior: smooth;
  background: rgb(255, 255, 255);
  cursor:crosshair;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #0000000e;
  filter: hue-rotate(90deg);
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: rgb(22, 92, 28);
}

* {
  box-sizing: border-box;
  color: rgb(22, 92, 28);
}
textarea {
  resize: none;
  cursor:crosshair;

}
.content-layer{
  width: 100%;
  display: flex;
  z-index: 100;
  overflow-x: auto; 
  position: fixed;
  /* transform: translateY(-5vh); */
  /* margin-left: 100px; */
  margin-top:  calc(15vw - 18.3vw);
  overflow-y: hidden;
  
}
  .about-title{
    font-family: "gridlite-pe-variable", sans-serif;
    /* font-variation-settings: "ELSH" 1, "RECT" 700, "BACK" 800, "wght" 1; */
    display: block;
    justify-content: center;
    font-size: 28px;
    z-index: 2000;
    cursor:pointer;
  }
  .dot {
    margin-top: 0;
    width: 100%;
    display: flex;
    z-index: 102;
    position: fixed;
    /* transform: translateY(-5vh); */
    /* margin-left: 100px; */
    margin-top:  calc(13vw - 18.3vw);
    text-decoration: none!important;
    font-family: "gridlite-pe-variable", sans-serif;
    font-variation-settings: "ELSH" 2, "RECT" 1, "BACK" 1, "wght" 900;
  }
  .dot a{
    text-decoration:none;
  }
p {
  backdrop-filter: blur(2px); 
  -webkit-backdrop-filter: blur(2px); 
  background: rgba(224, 224, 224, 0.44);
  gap: 0;
  border-left: 4px solid rgba(22, 92, 28, 0);
  padding: 4px;
  margin: 4px;
  font-family: "source-sans-3", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: rgb(22, 92, 28)
}
p.expand{
  margin-top: 0;
  margin-bottom: auto;
}
.scroll-layer-text{
  scroll-behavior: smooth;
  flex: 0 0 auto;
  box-sizing: border-box;
  width: 300px;
  word-wrap: break-word; 
  height: auto; 
  margin-top: 0;
  margin-bottom: auto;
}
  p:hover {
    border-left: 4px solid rgb(22, 92, 28);
    pointer-events: auto;
    backdrop-filter: blur(15px); 
    -webkit-backdrop-filter: blur(15px); 
    padding:4px;
}
  .title-container{
    font-family: "gridlite-pe-variable", sans-serif;
  margin:0;
  padding:0;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  position: relative;
  height: auto;
  font-size: 14px;
  transition: font-variation-settings 1s ease-in-out; /* Smooth transition on hover */
}


.detail{
  text-align: right;
  
}

#container {
  /* background-color: rgb(22, 92, 28); */
  display: grid;
  grid-template-columns: 30px 2fr 3fr 3fr repeat(3,1fr) 3fr 5fr 1fr 2fr 4fr 5fr repeat(3, 1fr); 
  grid-template-rows: 30px 1fr 3fr repeat(97, 5fr); 
  gap: 0px;
  position:relative;
 
  transition: transform 0.3s ease-in-out;
}


.slider-container, .slider-overlay, input[type="range"], input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 12px; 
  cursor: pointer;

  
}
.slider-container {
  
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.button-layout{
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
  color: rgb(22, 92, 28);
  display: flex;
  width: 5%;
  height: 60px;
  border: 0px solid rgb(22, 92, 28);
  border-radius: 12px;
  z-index: 3;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  opacity: 0.9;

}
.button-layout:hover{
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.slider-overlay {
  opacity: 1;
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any padding */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0); /* Semi-transparent overlay */
  backdrop-filter: blur(4px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(4px); /* For Safari */
  border: none;
  width: 95%;

}

input[type="range"] { 
  padding: 0; 
  -webkit-appearance: none; 
  appearance: none; 
  width: 100%; 
  height: 60px; 
  outline: none; 
  opacity: 0.5;
  transition: opacity 0.2s;
  background: rgba(255, 255, 255, 0.44);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input[type="range"]:hover { /* On hover, increase opacity */
  opacity: 0.7;
  pointer-events: auto;
  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

input[type="range"]::-webkit-slider-runnable-track { /* Style for the track in Webkit browsers (Chrome, Safari, Edge) */
  height: 60px;
  background: #e6e6e6d5;
}

input[type="range"]::-webkit-slider-thumb { /* Style for the thumb in Webkit browsers */
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 40px;
  background: #f1c8c800;
  border-left: 3px solid rgb(22, 92, 28);
  border-right: 3px solid rgb(22, 92, 28);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* cursor: pointer; */
  opacity: 1!important;
  
}

input[type="range"]::-webkit-slider-thumb:hover{
  border-left: 3px solid rgb(22, 92, 28);
  border-right: 3px solid rgb(22, 92, 28);
}

.label {
  border-radius: 5px;
  display: flex;
  justify-content: center; 
  align-items: center;     
  background-color: rgb(255, 255, 255);
  color: rgb(22, 92, 28);
  /* border: 1px solid rgb(22, 92, 28); */
  height: 100%; 
  padding: 0; 
  font-family: "gridlite-pe-variable", sans-serif;
  font-variation-settings: "ELSH" 2, "RECT" 1, "BACK" 1, "wght" 900;
  border: 1px solid rgb(22, 92, 28);
}



input:not([type="range"]) {
  text-align: right;
  border: 0px solid #000000;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  word-wrap: break-word; /* Ensure text wraps within the cell */
  white-space: normal; /* Allow text to wrap */
  /* overflow: hidden;  */
}

input:not([type="range"]):focus {
  border: none;
  outline: none;
  background-color: rgb(218, 218, 218);
}

.textarea-cell {

  transition: font-size 0.2s ease-in-out;
  width: 100%;
  border-radius:5px;
  resize: none; 
  padding: 5px; /* Optional: adds space inside the textarea */
  line-height: 1.5; /* Optional: adjust line height */
  text-align: left; /* Align text to the left */
  box-sizing: border-box; /* Ensures padding doesn't affect width calculation */
  overflow-y: scroll;
  border: 1px solid rgb(22, 92, 28);
  /* border-radius: 5px; */
  font-family: "source-sans-3", sans-serif;
  font-weight: 100;
  font-style: normal;
  transform-origin: left top; /* Ensures rotation around top-left corner */
 
}

.textarea-cell:hover{
  background-color: rgb(255, 255, 255);
  border: 1px dashed rgb(22, 92, 28);
  /* transform: skewY(5deg); */

  /* box-shadow: inset 0 0 10px 5px rgb(22, 92, 28); */
}
.textarea-cell::-webkit-scrollbar {
  display: none;
  resize: none;
  vertical-align: bottom; 
  
}
img {
 width: 100%;
  height: 100%;
  object-fit:contain;
}
.read-more {
  color: rgb(22, 92, 28);
  cursor: pointer;
  /* text-decoration: underline; */
  font-size: 20px;
}

.scroll-layer-text p {
  margin-bottom: 10px;
}

#animatedText {
  display: inline-block;
  font-size: clamp(2rem, 18.3vw, 30rem); 
  top: 0;
  left: 0;
  right: 0;
  vertical-align:top; 
  line-height: .6;
  position: sticky;
  margin: 0;
  padding: 0;
  transform-origin: top right;
  white-space: nowrap;
  width:100vw;
  max-width: 100%;
  padding-bottom: 8vw;
 z-index: 999
}


.title {
  font-family: "gridlite-pe-variable", sans-serif;
  font-variation-settings: "ELSH" 1, "RECT" 1, "BACK" 720, "wght" 300;
  vertical-align: top; 
  display: inline-block;
  font-style: normal;
  left: 0;
  right: 0;
  position: sticky;
  z-index: 10;
  margin: 0;
  padding: 0;
  transform-origin: top left;
  line-height: 0;


}

::selection{
  background: lightgrey;

}
.title:hover {
  cursor: pointer;

}
/* .shadow {
  font-style: italic;

} */


/* Sticky White-Space Div */
.white-space {
  height: calc(6vh + 10px); 
  position: sticky;
  background: rgb(255, 255, 255);
  top: 0; /* Stick at the top */
  z-index: 99; 

}

#container > div:nth-of-type(1),
.label:nth-child(-n+16) {
  position: sticky;
  top: calc(6vh + 10px); 
  z-index: 98;
  background: rgb(182, 182, 182)!important;
}

#container > div:nth-of-type(17),
textarea:nth-of-type(-n+15) {
  position: sticky;
  top: calc(6vh + 40px); 
  z-index: 97; 
  box-shadow: rgba(151, 151, 151, 0.25) 0px 54px 55px, rgba(151, 151, 151, 0.12) 0px -12px 30px, rgba(151, 151, 151, 0.12) 0px 4px 6px, rgba(151, 151, 151, 0.17) 0px 12px 13px, rgba(151, 151, 151, 0.09) 0px -3px 5px;
}

#container > div:nth-of-type(1){
  border: 1px solid rgb(22, 92, 28);
  border-radius: 5px
}


@media screen and (min-width: 601px) {
  .about-title{
    font-size: 28px
  }
  .title-container{
    font-size: 14px;
  }
  .content-layer{
    margin-top:  calc(15vw - 18.3vw);
  }
  #animatedText{
    padding-bottom: 8vw;
  }
  .dot {
 
    font-size: 18px;
    margin-top:  calc(13vw - 18.3vw);
  text-decoration: none;

  }
  p {
    font-size: 10px;
  }
 .textarea-cell {
  font-size: 14px;
 }
 .white-space {
  height: calc(6vh + 10px); 
}

.label:nth-child(-n+16) {
  top: calc(6vh + 10px); 
}
textarea:nth-of-type(-n+15) {
  top: calc(6vh + 40px); 
}
#container > div:nth-of-type(1),
.label:nth-child(-n+16) {
  top: calc(6vh + 10px); 
  z-index: 98;
}
#container > div:nth-of-type(17),
textarea:nth-of-type(-n+15) {
  top: calc(6vh + 40px); 
  z-index: 97; 
}
}
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .about-title{
    font-size: 20px
  }
  
  .title-container{
    font-size: 10px;
  }
  .content-layer{
    margin-top:  calc(4vw - 18.3vw);
  }
  .dot {
    font-size: 12px;
    margin-top:  calc(0.1vw - 18.3vw);
    text-decoration: none;

  }
  p {
    font-size: 9px;
  }
  .textarea-cell {
    font-size: 10px;
   }
   .white-space {
    height: calc(3vh + 5px); 
  }
  
  .label:nth-child(-n+16) {
    top: calc(3vh + 5px); 
  }
  textarea:nth-of-type(-n+15) {
    top: calc(3vh + 30px); 
  }
  #animatedText{
    padding-bottom: 24vw;
  }
  #container > div:nth-of-type(1),
.label:nth-child(-n+16) {
  top: calc(3vh + 5px); 
  z-index: 98;
}
#container > div:nth-of-type(17),
textarea:nth-of-type(-n+15) {
  top: calc(3vh + 30px); 
  z-index: 97; 
}
}

textarea:focus {
  outline: none;
}